#mCSB_1_scrollbar_vertical{
	opacity: 1;
	#mCSB_1_dragger_vertical{
		min-height: auto !important;
		height: 15px !important;
		.mCSB_draggerRail{
			background-color: #CCC;
		}
		.mCSB_dragger_bar{
			height: 15px;
			width: 15px;
			background-color: $yellow;
		}
	}
}