/* Footer style */
footer {
  padding: 30px 0 20px;

  .row {
    & > div {
      &:first-child {
        @media screen and (max-width: 992px) {
          order: 2;
        }
      }
    }
  }
}

.footer-menu {
  ul {
    list-style-type: none;

    @media screen and (max-width: 992px) {
      text-align: center;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      font-size: 12px;
      font-weight: 300;

      &:not(:last-child) {
        margin-right: 30px;
      }

      a {
        color: $simple-text;
        text-decoration: underline;
      }
    }
  }
}

.footer-team-logo {
  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    align-items: center;
    flex-wrap: nowrap;
    margin:0;
    @media screen and (max-width: 992px){
      justify-content: center;
    }
    @media screen and (max-width: 480px) {
      flex-wrap: wrap;
      text-align: center;
      padding: 0;
      align-items: flex-end;
      li {
        flex: 0 0 50%;
        padding: 0 15px;
        margin:10px 0!important;
      }
    }

    li {
      &:first-child{
        a{
          svg{
            height: 50px;
            width:120px;
          }
        }
      }
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
    a {
      display: block;
      svg{
        height: 50px;
      }
    }
  }
}