/**
 *  General
 */

$playfair: 'Playfair Display';
$font-primary: 'Raleway';
$white: #fff;
$black: #000;
$yellow: #dbb20e;
$simple-text: #292929;
$main-menu-link: #7c7c7c;
$border-box: #f8f0cf;
$border-card: #ded4a9;

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: 90000;
  background: #fff;
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 200px;
    transform: translate(-50%, -50%);
  }
}