.hero-banner {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;

  @media screen and (max-width: 992px){
    min-height: 690px;
  }
  @media screen and (max-width: 767px){
    min-height: 680px;
  }

  @media screen and (max-width: 480px){
    min-height: 570px;
    transition: height 999999s;
  }
  @media screen and (min-width: 992px){
    min-height: 720px;
  }

  .hero-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    // z-index: 1;
    z-index: 0;
    height: 100%;
    width: 100%;
  }

  .banner-text-block {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 3;
    padding-top: 60px;
    @media screen and (max-width: 768px) and (max-height: 768px){
      position: static;
      transform: translate(0,0);
      padding-top: 100px;
    }
    @media screen and (max-width: 360px){
      padding-top: 80px;
    }

    .main-text {
      text-align: center;
      margin-bottom: 25px;
      .italic-header{
        @media screen and (max-width: 360px){
          margin-bottom: 15px;
        }
      }
      h1 {
        font-size: 60px;
        font-family: $font-primary;
        font-weight: 700;
        color: $white;
        text-align: center;
       // margin-bottom: 75px;

       @media screen and (max-width: 992px) {
        font-size: 45px;
      }

      @media screen and (max-width: 767px) {
        font-size: 24px;
      }
    }
    .main-subtitle{
      color:rgba(255,255,255, 0.8);
      line-height: 1.5;
      font-size: 24px;
      font-weight: 300;
      br{
        @media screen and (max-width: 480px){
          display: none;
        }
      }
      @media screen and (max-width: 600px){
        font-size: 20px;
      }
    }
  }
  .sub-message-price{
    text-align: center;
    margin-bottom: 40px;
    @media screen and (max-width: 600px){
      margin-bottom: 20px;
    }
    ul{
      list-style-type: none;
      padding: 0;
      li{
        color:rgba(255,255,255,0.8);
        font-size: 18px;
      }
      .count-beds,.price{
        color:$white;
        font-weight: 700;
      }
    }
  }
  .banner-buttons-wrapper {
    text-align: center;

    .banner-button {
      display: inline-block;
      font-size: 14px;
      font-family: $font-primary;
      font-weight: 500;
      color: $black;
      padding: 15px;
      min-width: 175px;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.9);
      margin-bottom: 10px;

      &:hover {
        text-decoration: none;
      }
    }

    .phone-link {
      display: block;
      color: $white;
      font-size: 18px;
      font-family: $font-primary;
      font-weight: 600;
    }
  }
}

.banner-scroll-button {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
  @media screen and (max-width: 768px) and (max-height: 480px){
    position: static;
    transform:translate(0,0);
    display: flex;
    justify-content:center;
    margin-top: 15px;
  }

  @media screen and (max-width: 360px) {
    bottom:10px;
  }

  a {
    position: relative;
    display: block;
    width: 16px;
    height: 24px;
    @media screen and (orientation: landscape){
      margin-bottom: 15px;
    }

    .cls-1 {
      fill: $white;
    }
  }
}
}



