.main-menu {
  padding: 10px 0px;
  background: $white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.44);
  
  .nav {
    align-items: center;

    @media screen and (max-width: 992px) {
      display: none;
    }

    .nav-item {
      &.logo-item{
        a{
          svg{
            height: 50px;
          }
        }
      }
      .nav-link {
        font-family: $font-primary;
        font-weight: 500;
        color: $main-menu-link;
        font-size: 13px;

        img {
          max-width: 100%;
          display: block;
          height: auto;
          margin: 0 auto;
        }
      }

      &.link-button {
        a {
          color: $white;
          background-color: $yellow;
          max-width: 90px;
          margin: 0 auto;
        }
      }
    }
  }
}

