.italic-header {
  position: relative;
  font-family: $playfair;
  font-style: italic;
  font-size: 24px;
  font-weight: 400;
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 15px;
  margin-bottom: 25px;

  &:after {
    position: absolute;
    content: '';
    display: block;
    height: 2px;
    width: 20%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &.white {
    color: $white;

    &:after {
      background-color: $white;
    }
  }

  &.black {
    color: $black;

    &:after {
      background-color: $yellow;
    }
  }
}

.simple-header {
  font-size: 40px;
  font-family: $font-primary;
  font-weight: 700;
  color: $yellow;

  @media screen and (max-width: 480px) {
    font-size: 22px;
  }

  &.white {
    color: $white;
  }
}

.ceneter-text-block {
  text-align: center;

  .simple-header {
    margin-bottom: 65px;

    &.main-header-text {
      margin-bottom: 25px;
    }
  }

  p {
    &:last-child {
      margin-bottom: 40px;
    }
  }
}

.city-bg {
  padding: 75px 0;
  position: relative;

  @media screen and (max-width: 480px) {
    padding: 35px 0;
  }

  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 250px;
    bottom: 0;
    z-index: -1;
    background-image: url('../images/city-bg.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
  }
}

.simple-img {
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
  }
}

.simple-text-icon-box {
  padding: 90px 0 40px;

  @media screen and (max-width: 480px) {
    padding: 35px 0;
  }
}

.caption-text {
  p {
    font-weight: 600;
    font-size: 18px;
    color: $simple-text;
  }
}

.simple-text-header {
  font-size: 22px;
  color: $simple-text;
  font-weight: 700;
  margin-bottom: 20px;

  &.white {
    color: $white;
  }
}

.svg-img {
  margin-bottom: 20px;

  svg {
    width: 60px;
    height: 65px;
    * {
      fill: $yellow !important;
    }
  }
}

.text-block-icon {
  @media (max-width: 992px) {
    .svg-img,
    .simple-text-header {
      text-align: center;
    }
  }
  .svg-img {
    margin-bottom: 10px;
  }

  .simple-text-header {
    margin-bottom: 10px;
  }
}

/* Slider */

.simple-slider {
  position: relative;
  .slide-text {
    top: 0;
    position: absolute;
    content: "";
    left: 0;
    z-index: 2;
    display: block;
    height: 100%;
    width: 100%;
    h3 {
      font-size: 85px;
      width: 500px;
      padding-left: 60px;
      margin: 0;
      position: absolute;
      left: 0;
      bottom: calc(50% - 20px);
      font-family: $playfair;
      font-style: italic;
      font-weight: 400;
      color: $white;
      opacity: 0.6;
      transform: translate(-30%, 50%) rotate(-90deg);
      @media screen and (max-width: 768px) {
        font-size: 35px;
        width: 150px;
        bottom: 70px;
        transform: translate(-30%, 0) rotate(-90deg);
      }
      &:after {
        position: absolute;
        content: "";
        width: 2px;
        height: 60px;
        left: -1px;
        bottom: -50%;
        transform: translate(0, -50%) rotate(90deg);
        display: block;
        background-color: $white;
        @media screen and (max-width: 768px) {
          height: 30px;
          transform: translate(0, -8px) rotate(90deg);
          left: 0;
        }
      }
    }
  }
}

.bullets-indicators {
  &.carousel-indicators {
    li {
      cursor: pointer;
      width: 10px;
      max-width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 10px;
    }
  }
}

.apartments-section {
  padding: 80px 0 90px;
  overflow: hidden;
  .justify-content-md-center {
    @media (min-width: 992px) {
      width: 950px;
      margin: auto;
    }
  }
}

.investment-section {
  padding: 80px 0 90px;

  p {
    color: $white;
  }
}

.grey-pattern {
  background-image: url('../images/pattern-grey.svg');
  background-repeat: repeat;
  background-color: #f5f5f5;
  background-position: center;
  background-size: 50px auto;
}

.gold-pattern {
  background-image: url('../images/pattern-gold.svg');
  background-repeat: repeat;
  background-color: #bda752;
  background-position: center;
  background-size: 50px auto;
}

/* images section */
.img-title {
  text-align: center;
  margin: 50px 0px 25px;
}

//.img-block {
//  &.big-img {
//    @media screen and (min-width: 992px) {
//      height: 100%;
//      position: absolute;
//      width: 100%;
//    }
//    img {
//      width: 100%;
//
//      @media screen and (min-width: 992px) {
//        height: 100%;
//      }
//      @media screen and (max-width: 992px) {
//        margin-bottom: 10px;
//      }
//    }
//  }
//
//  img {
//    max-width: 100%;
//    display: block;
//    height: auto;
//  }
//}
//
//.small-img {
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
//  height: 100%;
//  img {
//    //height: 50%;
//    height: calc(50% - 5px);
//  }
//  @media screen and (max-width: 992px) {
//    flex-direction: row;
//    width: calc(100% - 10px);
//    justify-content: space-between;
//    margin-left: -5px;
//    margin-right: -5px;
//    height: auto;
//    img {
//      margin-left: 5px;
//      margin-right: 5px;
//      width: 50%;
//      flex: 0 0 50%;
//      height: 50%;
//    }
//  }
//  @media screen and (max-width: 480px) {
//    width: 100%;
//    margin: 0;
//    img {
//      margin-right: 0;
//      margin-left: 0;
//      flex: auto;
//      width: calc(50% - 5px);
//      &:first-child {
//        margin-right: 10px;
//      }
//    }
//  }
//  &.right-img-block {
//    @media screen and (min-width: 992px) {
//      margin-left: 10px;
//    }
//  }
//
//  &.left-img-block {
//    @media screen and (min-width: 992px) {
//      margin-right: 10px;
//    }
//  }
//
//  img {
//    @media screen and (max-width: 992px) {
//      margin-bottom: 10px;
//    }
//
//    &:not(:last-child) {
//      margin-bottom: 10px;
//    }
//  }
//}

.border-box {
  padding: 30px 30px 10px;
  border: 8px solid $border-box;
  margin-bottom: 40px;
}

.caption-card {
  max-width: 425px;
  @media screen and (max-width: 992px) {
    margin: 0 auto;
  }
  &.logo-bg {
    background-image: url('../images/mode-short.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
  }
  .simple-text-header {
    margin-bottom: 0;
  }

  p {
    font-size: 18px;
  }
}

.standart-card {
  padding: 30px;
  border-radius: 10px;
  max-width: 350px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 355px) {
    flex-direction: column;
  }

  @media screen and (max-width: 455px) {
    padding: 25px 10px;
  }
  &:not(:last-child) {
    margin-bottom: 35px;
  }

  @media screen and (max-width: 992px) {
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .card-icon {
    width: 110px;
    height: 110px;
    background: rgba(243, 243, 243, 0.8);
    position: relative;
    border-radius: 50%;
    margin-right: 40px;
    @media screen and (max-width: 400px) {
      width: 90px;
      height: 90px;
      margin-right: 30px;
    }
    @media screen and (max-width: 355px) {
      margin: 0;
      margin-bottom: 5px;
    }
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 32px;
      height: 30px;
    }
    &.two-beds {
      svg {
        width: 64px;
        height: 60px;
      }
    }
    &.three-beds {
      svg {
        width: 64px;
        height: 60px;
        @media screen and (max-width: 400px) {
          width: 60px;
          height: 56px;
        }
      }
    }
  }

  .price-description {
    display: flex;
    flex-direction: column;
    .price {
      white-space: nowrap;
    }
    .baks {
      font-family: $font-primary;
      font-weight: normal;
      font-size: 0.9em;
    }
    .count-bed {
      font-weight: 400;
      margin-bottom: 10px;
      @media screen and (max-width: 355px) {
        text-align: center;
        margin: 0;
      }
    }
  }

  &.newstead-card {
    border: 2px solid $border-card;

    .card-icon {
      background: rgba(243, 243, 243, 0.5);

      svg {
        .cls-1 {
          fill: $white;
        }
      }
    }

    .price-description {
      .price {
        color: $white;
        font-weight: 400;
        font-size: 24px;
        font-family: $playfair;
        font-weight: 400;
        @media screen and (max-width: 400px) {
          font-size: 20px;
        }
      }
    }
  }

  &.mode-card {
    background: $white;
    border: 2px solid $white;
    box-shadow: 0px 3px 60px 0px rgba(50, 42, 19, 0.5);
    max-width: 425px;
    .price-description {
      .price {
        color: $yellow;
        font-family: $playfair;
        font-weight: 700;
        font-size: 24px;
        .baks {
          font-size: 14px;
        }
        @media screen and (max-width: 410px) {
          font-size: 22px;
        }
      }
    }
    .card-icon {
      @media screen and (max-width: 375px) {
        margin-right: 20px;
      }
    }
  }
}

.source-text {
  margin-top: 20px;
  @media screen and (max-width: 992px) {
    text-align: center;
  }
  p {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.video-wrapper {
  max-width: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 45px;

  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.team-section {
  padding: 75px 0px;
  background-image: url('../images/palm-tree-bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.team-wrapper {
  margin-bottom: 50px;
}

.team-logo {
  @media (max-width: 992px) {
    margin: 0 auto 15px;
  }
  width: 50%;
  margin-bottom: 25px;
}

.team-description-block {
  p {
    a {
      color: $yellow;
      font-weight: 500;
      text-decoration: underline;
    }
  }
}

.team-img-block {
  text-align: center;

  .team-label-img-wrapper {
    position: relative;
    display: inline-block;
  }

  .img-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: block;
    font-size: 14px;
    color: #a5a5a5;
    font-weight: 500;
    margin: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

.enquire-block {
  display: flex;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.enquire-text-block {
  width: 40%;
  background-image: url('../images/pattern-gold.svg');
  background-repeat: repeat;
  background-color: #bda752;
  background-position: center;
  background-size: 50px auto;
  padding: 60px 40px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
  @media screen and (max-width: 480px) {
    padding: 20px;
  }

  h3 {
    font-size: 40px;
    font-weight: 700;
    color: $white;
    @media screen and (max-width: 480px) {
      font-size: 30px;
    }
  }

  p {
    color: $white;
    font-size: 24px;
    @media screen and (max-width: 480px) {
      font-size: 18px;
    }

    a {
      color: $white;
      font-weight: 700;
      display: inline-block;
    }
  }
}

.map-container {
  width: 60%;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  #map {
    height: 700px;
  }
}

.contact-us {
  position: relative;
  padding: 95px 0 65px;
  background-image: url('../images/contact-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .container {
    z-index: 3;
    position: relative;
  }

  .overlay-block {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  .text-behind {
    position: absolute;
    top: 5%;
    width: 100%;
    color: $white;
    font-size: 100px;
    line-height: 1;
    font-family: $playfair;
    font-weight: 400;
    font-style: italic;
    z-index: 0;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);

    @media screen and (max-width: 992px) {
      font-size: 80px;
    }

    @media screen and (max-width: 560px) {
      font-size: 50px;
    }
  }
}

.contact-form-wrapper {
  & > h3 {
    font-size: 40px;
    color: $white;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
  }

  .form-group {
    margin-bottom: 25px;
  }

  .custom-input-fields {
    background-color: transparent;
    color: $white;
    font-size: 16px;
    font-weight: 300;
    border: none;
    border-bottom: 1px solid $yellow !important;
    border-radius: 0;
    padding-left: 0;
    font-family: $font-primary;
  }

  button[type='submit'] {
    color: $white;
    background-color: $yellow;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 300;
    font-family: $font-primary;
    border-radius: 0;
    min-width: 210px;
    margin: 0 auto;
    display: block;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }
  }

  a {
    color: $white;
    font-size: 12px;
    font-weight: 300;
    text-decoration: underline;
    display: block;
    text-align: center;
    margin-top: 30px;
  }

  .form-check-inline {
    width: 30%;
    @media (max-width: 375px) {
      width: 100%;
      margin-left: 0;
    }
  }
}

.checkbox-wrapper {
  margin-bottom: 30px;

  h4 {
    font-size: 14px;
    font-weight: 300;
    color: $white;
    padding-top: 15px;
    margin-bottom: 10px;
  }

  label {
    font-size: 12px;
    font-weight: 300;
    color: $white;
    font-family: $font-primary;
  }
}

.checkbox-wrapper {
  [type='checkbox'] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    user-select: none;
  }
}

[type='checkbox']:not(:checked),
[type='checkbox']:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

[type='checkbox'].filled-in + label:before,
[type='checkbox'].filled-in + label:after {
  content: '';
  left: 0;
  position: absolute;
  transition: all 0.2s;
  z-index: 1;
}

[type='checkbox'] + label:before,
[type='checkbox']:not(.filled-in) + label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 1px solid $yellow;
  border-radius: 0;
  margin-top: 2px;
  transition: .2s;
}

[type='checkbox'].filled-in:checked + label:before {
  top: 0;
  left: 1px;
  width: 8px;
  height: 13px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotateZ(37deg);
  transform-origin: 100% 100%;
}

[type='checkbox']:checked + label:before {
  top: -4px;
  left: -5px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid $yellow;
  border-bottom: 2px solid $yellow;
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-origin: 100% 100%;
}

[type='checkbox'].filled-in:checked + label:after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid $yellow;
  background-color: $yellow;
  z-index: 0;
}

[type='checkbox'].filled-in + label:after {
  border-radius: 0;
}

.custom-modal {
  top: 50%;
  transform: translate(0, -50%);

  .modal-dialog {
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
  }

  .modal-content {
    padding: 20px;
  }

  .modal-header,
  .modal-footer {
    border: none;
    justify-content: center;
  }

  .modal-body {
    text-align: center;

    &.privacy-body {
      text-align: left;
    }
  }

  .modal-title {
    font-size: 22px;
    font-weight: 700;
    color: $simple-text;
    border: none;
  }

  .modal-footer {
    .btn {
      background-color: $yellow;
      color: $white;
      border: none;
      box-shadow: none;
      border-radius: 0;
      min-width: 100px;

      &:focus,
      &:hover {
        box-shadow: none;
        border: none;
      }
    }
  }

  .close {
    text-align: right;
    opacity: 1;
    outline: none;

    span {
      color: $yellow;
      font-family: $font-primary;
      font-size: 50px;
      font-weight: 300;
      outline: none;

      &:focus {
        outline: none;
      }
    }
  }
}

.privacy-modal {
  .modal-content {
    padding-top: 70px;
    border-radius: 0;
    @media screen and (max-width: 480px) {
      padding: 70px 10px 10px;
    }
    .close {
      position: fixed;
      right: 20px;
      top: -5px;
    }
  }
  .modal-header {
    display: block;
    position: fixed;
    width: 100%;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    .modal-title {
      text-align: center;
      @media screen and (max-width: 480px) {
        font-size: 16px;
      }
    }
  }
  .modal-header {
    padding: 0 15px;
  }

  .modal-dialog {
    @media screen and (min-width: 768px) {
      max-width: 700px;
    }
  }
}

.main-body-wrapper {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-transition: all 250ms ease-out 0s;
  transition: all 250ms ease-out 0s;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matriX(1, 0, 0, 1, 0, 0);
  overflow: hidden;

  &.main-wrapper-push {
    -webkit-transform: matrix(1, 0, 0, 1, -320, 0);
    transform: matriX(1, 0, 0, 1, -320, 0);
    -webkit-transform: translate3d(-240px, 0px, 0px);
    -webkit-transition: all 250ms ease-out 0s;
    transition: all 250ms ease-out 0s;
  }
}

#privacy-modal {
  .modal-dialog,
  .modal-content {
    flex: 0 0 100%;
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .modal-body {
    flex: 0 0 100%;
    max-height: 100%;
  }
}

.modal-open .modal {
  overflow: hidden !important;
}

.custom-modal .close {
  position: relative;
  z-index: 1000;
}

.carousel-item {
  height: 600px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  @media screen and (max-width: 768px) {
    height: 300px;
  }
}

.simple-slider-overview {
  &:after {
    display: none;
  }
}

.privacy-modal {
  @media (max-width: 480px) {
    max-height: 95%;
    height: 95%;
  }
}

.custom-popup {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
  & > p {
    text-align: right;
    margin-bottom: 10px;
  }
  .modal-title {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    font-family: $font-primary;
    color: $simple-text;
    margin-bottom: 20px;
  }
  .privacy-popup-content {
    max-height: 300px;
    margin-bottom: 20px;
  }
  .popup-modal-dismiss {
    color: $yellow;
    font-size: 20px;
    font-weight: 700;
    &:hover {
      color: $yellow;
    }
  }
}

.big-img {
  img {
    width: 100%;
    max-width: 100%;
    display: block;
    height: auto;
  }
}

.small-img {
  display: flex;
  flex-direction: row;
  width: calc(100% - 10px);
  justify-content: space-between;
  margin-left: -5px;
  margin-right: -5px;
  height: auto;
  img {
    margin-left: 5px;
    margin-right: 5px;
    width: 50%;
    flex: 0 0 50%;
    height: 50%;
  }
  &.right-img-block {
    margin-top: 10px;
  }
  &.left-img-block {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 992px) {
  .appartment-wrapper {
    width: 860px;
    height: 434px;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    img {
      max-width: 100%;
      height: auto;
    }
    .big-img {
      flex: 0 0 637px;
    }
    .small-img {
      flex: 0 0 212px;
      margin-left: 10px;
      display: block;
      width: auto;
      margin: 0;
      img {
        width: 100%;
        margin: 0;
      }
      &.left-img-block {
        margin-right: 10px;
        margin-left: 0;
      }
      &.right-img-block {
        margin-left: 10px;
        margin-right: 0;
      }
      img {
        &:first-child {
          margin-bottom: 10px;
        }
      }

    }
  }
}

