.mobile-menu-wrapper {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 320px;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1em 3em;
  background: #000;
  z-index: 99999 !important;

  &.visible {
    display: block;
  }

  .close-nav {
    opacity: 0;
    height: 1.8em;
    width: 1.8em;
    position: fixed;
    display: block;
    z-index: 9999;
    right: 0.9em;
    top: 0.9em;
    cursor: pointer;
    -webkit-transition: all 250ms ease-out 0s;
    transition: all 250ms ease-out 0s;

    &.visible {
      opacity: 1;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    background: none;
    list-style-type: none;
    position: relative;

    li {
      display: block;
      border: none;
      margin: 0 0 0.5em 0;
      padding: 0;
      &:last-child {
        a::after {
          display: none !important;
        }
      }
      &.link-button {
        a {
          margin-top: 1em;
          background: $yellow;
          color: $black;
          text-align: center;
        }
      }

    }
    a {
      border: none;
      font-size: 1.05em;
      font-weight: 500;
      color: $yellow;
      display: block;
      padding: 0.6em 0.8em 0.9em 0em;
      letter-spacing: 0.07em;
      box-shadow: none;
      text-transform: uppercase;
      text-align: left;
      position: relative;

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        height: 1px;
        width: 20px;
        background-color: #fff;
      }
    }
  }

  @media screen and (min-width: 992px) {
    display: none;
  }
}

.mobile-logo {
  display: block;
  text-align: center;
  margin: 0 auto;

  @media screen and (max-width: 480px) {
    text-align: left;
  }

  svg {
    height: 40px;
  }

  @media screen and (min-width: 992px) {
    display: none;
  }
}

.mobile-btn {
  position: absolute;
  right: 0;
  top: 50%;
  background-color: $white;
  border: 1px solid $yellow;
  height: 40px;
  width: 40px;
  transform: translate(-50%, -50%);
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 480px) {
    height: 35px;
    width: 35px;
    padding: 6px;
  }

  @media screen and (min-width: 992px) {
    display: none;
  }

  span {
    width: 100%;
    height: 4px;
    background-color: $yellow;
  }

  &.hidden {
    display: none;
  }
}