/**
 *  Config
 */
/**
 *  General
 */
#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: 90000;
  background: #fff;
}

#loader svg {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 200px;
  transform: translate(-50%, -50%);
}

/**
 *  Body
 */
body {
  font-family: "Raleway", sans-serif !important;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

body.modal-open {
  position: relative;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

p {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #292929;
  margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
  p {
    font-size: 14px;
  }
}

.mobile-menu-wrapper {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 320px;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1em 3em;
  background: #000;
  z-index: 99999 !important;
}

.mobile-menu-wrapper.visible {
  display: block;
}

.mobile-menu-wrapper .close-nav {
  opacity: 0;
  height: 1.8em;
  width: 1.8em;
  position: fixed;
  display: block;
  z-index: 9999;
  right: 0.9em;
  top: 0.9em;
  cursor: pointer;
  -webkit-transition: all 250ms ease-out 0s;
  transition: all 250ms ease-out 0s;
}

.mobile-menu-wrapper .close-nav.visible {
  opacity: 1;
}

.mobile-menu-wrapper ul {
  margin: 0;
  padding: 0;
  background: none;
  list-style-type: none;
  position: relative;
}

.mobile-menu-wrapper ul li {
  display: block;
  border: none;
  margin: 0 0 0.5em 0;
  padding: 0;
}

.mobile-menu-wrapper ul li:last-child a::after {
  display: none !important;
}

.mobile-menu-wrapper ul li.link-button a {
  margin-top: 1em;
  background: #dbb20e;
  color: #000;
  text-align: center;
}

.mobile-menu-wrapper ul a {
  border: none;
  font-size: 1.05em;
  font-weight: 500;
  color: #dbb20e;
  display: block;
  padding: 0.6em 0.8em 0.9em 0em;
  letter-spacing: 0.07em;
  box-shadow: none;
  text-transform: uppercase;
  text-align: left;
  position: relative;
}

.mobile-menu-wrapper ul a::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  height: 1px;
  width: 20px;
  background-color: #fff;
}

@media screen and (min-width: 992px) {
  .mobile-menu-wrapper {
    display: none;
  }
}

.mobile-logo {
  display: block;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .mobile-logo {
    text-align: left;
  }
}

.mobile-logo svg {
  height: 40px;
}

@media screen and (min-width: 992px) {
  .mobile-logo {
    display: none;
  }
}

.mobile-btn {
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #fff;
  border: 1px solid #dbb20e;
  height: 40px;
  width: 40px;
  transform: translate(-50%, -50%);
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .mobile-btn {
    height: 35px;
    width: 35px;
    padding: 6px;
  }
}

@media screen and (min-width: 992px) {
  .mobile-btn {
    display: none;
  }
}

.mobile-btn span {
  width: 100%;
  height: 4px;
  background-color: #dbb20e;
}

.mobile-btn.hidden {
  display: none;
}

.main-menu {
  padding: 10px 0px;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.44);
}

.main-menu .nav {
  align-items: center;
}

@media screen and (max-width: 992px) {
  .main-menu .nav {
    display: none;
  }
}

.main-menu .nav .nav-item.logo-item a svg {
  height: 50px;
}

.main-menu .nav .nav-item .nav-link {
  font-family: "Raleway";
  font-weight: 500;
  color: #7c7c7c;
  font-size: 13px;
}

.main-menu .nav .nav-item .nav-link img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

.main-menu .nav .nav-item.link-button a {
  color: #fff;
  background-color: #dbb20e;
  max-width: 90px;
  margin: 0 auto;
}

.italic-header {
  position: relative;
  font-family: "Playfair Display";
  font-style: italic;
  font-size: 24px;
  font-weight: 400;
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.italic-header:after {
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  width: 20%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.italic-header.white {
  color: #fff;
}

.italic-header.white:after {
  background-color: #fff;
}

.italic-header.black {
  color: #000;
}

.italic-header.black:after {
  background-color: #dbb20e;
}

.simple-header {
  font-size: 40px;
  font-family: "Raleway";
  font-weight: 700;
  color: #dbb20e;
}

@media screen and (max-width: 480px) {
  .simple-header {
    font-size: 22px;
  }
}

.simple-header.white {
  color: #fff;
}

.ceneter-text-block {
  text-align: center;
}

.ceneter-text-block .simple-header {
  margin-bottom: 65px;
}

.ceneter-text-block .simple-header.main-header-text {
  margin-bottom: 25px;
}

.ceneter-text-block p:last-child {
  margin-bottom: 40px;
}

.city-bg {
  padding: 75px 0;
  position: relative;
}

@media screen and (max-width: 480px) {
  .city-bg {
    padding: 35px 0;
  }
}

.city-bg:after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 250px;
  bottom: 0;
  z-index: -1;
  background-image: url("../images/city-bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center bottom;
}

.simple-img img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

.simple-text-icon-box {
  padding: 90px 0 40px;
}

@media screen and (max-width: 480px) {
  .simple-text-icon-box {
    padding: 35px 0;
  }
}

.caption-text p {
  font-weight: 600;
  font-size: 18px;
  color: #292929;
}

.simple-text-header {
  font-size: 22px;
  color: #292929;
  font-weight: 700;
  margin-bottom: 20px;
}

.simple-text-header.white {
  color: #fff;
}

.svg-img {
  margin-bottom: 20px;
}

.svg-img svg {
  width: 60px;
  height: 65px;
}

.svg-img svg * {
  fill: #dbb20e !important;
}

@media (max-width: 992px) {
  .text-block-icon .svg-img,
  .text-block-icon .simple-text-header {
    text-align: center;
  }
}

.text-block-icon .svg-img {
  margin-bottom: 10px;
}

.text-block-icon .simple-text-header {
  margin-bottom: 10px;
}

/* Slider */
.simple-slider {
  position: relative;
}

.simple-slider .slide-text {
  top: 0;
  position: absolute;
  content: "";
  left: 0;
  z-index: 2;
  display: block;
  height: 100%;
  width: 100%;
}

.simple-slider .slide-text h3 {
  font-size: 85px;
  width: 500px;
  padding-left: 60px;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: calc(50% - 20px);
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  color: #fff;
  opacity: 0.6;
  transform: translate(-30%, 50%) rotate(-90deg);
}

@media screen and (max-width: 768px) {
  .simple-slider .slide-text h3 {
    font-size: 35px;
    width: 150px;
    bottom: 70px;
    transform: translate(-30%, 0) rotate(-90deg);
  }
}

.simple-slider .slide-text h3:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 60px;
  left: -1px;
  bottom: -50%;
  transform: translate(0, -50%) rotate(90deg);
  display: block;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .simple-slider .slide-text h3:after {
    height: 30px;
    transform: translate(0, -8px) rotate(90deg);
    left: 0;
  }
}

.bullets-indicators.carousel-indicators li {
  cursor: pointer;
  width: 10px;
  max-width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
}

.apartments-section {
  padding: 80px 0 90px;
  overflow: hidden;
}

@media (min-width: 992px) {
  .apartments-section .justify-content-md-center {
    width: 950px;
    margin: auto;
  }
}

.investment-section {
  padding: 80px 0 90px;
}

.investment-section p {
  color: #fff;
}

.grey-pattern {
  background-image: url("../images/pattern-grey.svg");
  background-repeat: repeat;
  background-color: #f5f5f5;
  background-position: center;
  background-size: 50px auto;
}

.gold-pattern {
  background-image: url("../images/pattern-gold.svg");
  background-repeat: repeat;
  background-color: #bda752;
  background-position: center;
  background-size: 50px auto;
}

/* images section */
.img-title {
  text-align: center;
  margin: 50px 0px 25px;
}

.border-box {
  padding: 30px 30px 10px;
  border: 8px solid #f8f0cf;
  margin-bottom: 40px;
}

.caption-card {
  max-width: 425px;
}

@media screen and (max-width: 992px) {
  .caption-card {
    margin: 0 auto;
  }
}

.caption-card.logo-bg {
  background-image: url("../images/mode-short.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
}

.caption-card .simple-text-header {
  margin-bottom: 0;
}

.caption-card p {
  font-size: 18px;
}

.standart-card {
  padding: 30px;
  border-radius: 10px;
  max-width: 350px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 355px) {
  .standart-card {
    flex-direction: column;
  }
}

@media screen and (max-width: 455px) {
  .standart-card {
    padding: 25px 10px;
  }
}

.standart-card:not(:last-child) {
  margin-bottom: 35px;
}

@media screen and (max-width: 992px) {
  .standart-card {
    margin: 0 auto;
    margin-bottom: 35px;
  }
}

.standart-card .card-icon {
  width: 110px;
  height: 110px;
  background: rgba(243, 243, 243, 0.8);
  position: relative;
  border-radius: 50%;
  margin-right: 40px;
}

@media screen and (max-width: 400px) {
  .standart-card .card-icon {
    width: 90px;
    height: 90px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 355px) {
  .standart-card .card-icon {
    margin: 0;
    margin-bottom: 5px;
  }
}

.standart-card .card-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 30px;
}

.standart-card .card-icon.two-beds svg {
  width: 64px;
  height: 60px;
}

.standart-card .card-icon.three-beds svg {
  width: 64px;
  height: 60px;
}

@media screen and (max-width: 400px) {
  .standart-card .card-icon.three-beds svg {
    width: 60px;
    height: 56px;
  }
}

.standart-card .price-description {
  display: flex;
  flex-direction: column;
}

.standart-card .price-description .price {
  white-space: nowrap;
}

.standart-card .price-description .baks {
  font-family: "Raleway";
  font-weight: normal;
  font-size: 0.9em;
}

.standart-card .price-description .count-bed {
  font-weight: 400;
  margin-bottom: 10px;
}

@media screen and (max-width: 355px) {
  .standart-card .price-description .count-bed {
    text-align: center;
    margin: 0;
  }
}

.standart-card.newstead-card {
  border: 2px solid #ded4a9;
}

.standart-card.newstead-card .card-icon {
  background: rgba(243, 243, 243, 0.5);
}

.standart-card.newstead-card .card-icon svg .cls-1 {
  fill: #fff;
}

.standart-card.newstead-card .price-description .price {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  font-family: "Playfair Display";
  font-weight: 400;
}

@media screen and (max-width: 400px) {
  .standart-card.newstead-card .price-description .price {
    font-size: 20px;
  }
}

.standart-card.mode-card {
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 3px 60px 0px rgba(50, 42, 19, 0.5);
  max-width: 425px;
}

.standart-card.mode-card .price-description .price {
  color: #dbb20e;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 24px;
}

.standart-card.mode-card .price-description .price .baks {
  font-size: 14px;
}

@media screen and (max-width: 410px) {
  .standart-card.mode-card .price-description .price {
    font-size: 22px;
  }
}

@media screen and (max-width: 375px) {
  .standart-card.mode-card .card-icon {
    margin-right: 20px;
  }
}

.source-text {
  margin-top: 20px;
}

@media screen and (max-width: 992px) {
  .source-text {
    text-align: center;
  }
}

.source-text p {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.video-wrapper {
  max-width: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 45px;
}

.video-wrapper .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-wrapper .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.team-section {
  padding: 75px 0px;
  background-image: url("../images/palm-tree-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
}

.team-wrapper {
  margin-bottom: 50px;
}

.team-logo {
  width: 50%;
  margin-bottom: 25px;
}

@media (max-width: 992px) {
  .team-logo {
    margin: 0 auto 15px;
  }
}

.team-description-block p a {
  color: #dbb20e;
  font-weight: 500;
  text-decoration: underline;
}

.team-img-block {
  text-align: center;
}

.team-img-block .team-label-img-wrapper {
  position: relative;
  display: inline-block;
}

.team-img-block .img-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: block;
  font-size: 14px;
  color: #a5a5a5;
  font-weight: 500;
  margin: 0;
}

.team-img-block img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.enquire-block {
  display: flex;
}

@media screen and (max-width: 768px) {
  .enquire-block {
    flex-direction: column;
  }
}

.enquire-text-block {
  width: 40%;
  background-image: url("../images/pattern-gold.svg");
  background-repeat: repeat;
  background-color: #bda752;
  background-position: center;
  background-size: 50px auto;
  padding: 60px 40px;
}

@media screen and (max-width: 768px) {
  .enquire-text-block {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .enquire-text-block {
    padding: 20px;
  }
}

.enquire-text-block h3 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .enquire-text-block h3 {
    font-size: 30px;
  }
}

.enquire-text-block p {
  color: #fff;
  font-size: 24px;
}

@media screen and (max-width: 480px) {
  .enquire-text-block p {
    font-size: 18px;
  }
}

.enquire-text-block p a {
  color: #fff;
  font-weight: 700;
  display: inline-block;
}

.map-container {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .map-container {
    width: 100%;
  }
}

.map-container #map {
  height: 700px;
}

.contact-us {
  position: relative;
  padding: 95px 0 65px;
  background-image: url("../images/contact-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-us .container {
  z-index: 3;
  position: relative;
}

.contact-us .overlay-block {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.contact-us .text-behind {
  position: absolute;
  top: 5%;
  width: 100%;
  color: #fff;
  font-size: 100px;
  line-height: 1;
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: italic;
  z-index: 0;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0);
}

@media screen and (max-width: 992px) {
  .contact-us .text-behind {
    font-size: 80px;
  }
}

@media screen and (max-width: 560px) {
  .contact-us .text-behind {
    font-size: 50px;
  }
}

.contact-form-wrapper > h3 {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.contact-form-wrapper .form-group {
  margin-bottom: 25px;
}

.contact-form-wrapper .custom-input-fields {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid #dbb20e !important;
  border-radius: 0;
  padding-left: 0;
  font-family: "Raleway";
}

.contact-form-wrapper button[type='submit'] {
  color: #fff;
  background-color: #dbb20e;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 300;
  font-family: "Raleway";
  border-radius: 0;
  min-width: 210px;
  margin: 0 auto;
  display: block;
}

.contact-form-wrapper button[type='submit']:hover {
  cursor: pointer;
}

.contact-form-wrapper button[type='submit']:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.contact-form-wrapper a {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  text-decoration: underline;
  display: block;
  text-align: center;
  margin-top: 30px;
}

.contact-form-wrapper .form-check-inline {
  width: 30%;
}

@media (max-width: 375px) {
  .contact-form-wrapper .form-check-inline {
    width: 100%;
    margin-left: 0;
  }
}

.checkbox-wrapper {
  margin-bottom: 30px;
}

.checkbox-wrapper h4 {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  padding-top: 15px;
  margin-bottom: 10px;
}

.checkbox-wrapper label {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  font-family: "Raleway";
}

.checkbox-wrapper [type='checkbox'] + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  user-select: none;
}

[type='checkbox']:not(:checked),
[type='checkbox']:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

[type='checkbox'].filled-in + label:before,
[type='checkbox'].filled-in + label:after {
  content: '';
  left: 0;
  position: absolute;
  transition: all 0.2s;
  z-index: 1;
}

[type='checkbox'] + label:before,
[type='checkbox']:not(.filled-in) + label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 1px solid #dbb20e;
  border-radius: 0;
  margin-top: 2px;
  transition: .2s;
}

[type='checkbox'].filled-in:checked + label:before {
  top: 0;
  left: 1px;
  width: 8px;
  height: 13px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotateZ(37deg);
  transform-origin: 100% 100%;
}

[type='checkbox']:checked + label:before {
  top: -4px;
  left: -5px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #dbb20e;
  border-bottom: 2px solid #dbb20e;
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-origin: 100% 100%;
}

[type='checkbox'].filled-in:checked + label:after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #dbb20e;
  background-color: #dbb20e;
  z-index: 0;
}

[type='checkbox'].filled-in + label:after {
  border-radius: 0;
}

.custom-modal {
  top: 50%;
  transform: translate(0, -50%);
}

.custom-modal .modal-dialog {
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
}

.custom-modal .modal-content {
  padding: 20px;
}

.custom-modal .modal-header,
.custom-modal .modal-footer {
  border: none;
  justify-content: center;
}

.custom-modal .modal-body {
  text-align: center;
}

.custom-modal .modal-body.privacy-body {
  text-align: left;
}

.custom-modal .modal-title {
  font-size: 22px;
  font-weight: 700;
  color: #292929;
  border: none;
}

.custom-modal .modal-footer .btn {
  background-color: #dbb20e;
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 0;
  min-width: 100px;
}

.custom-modal .modal-footer .btn:focus, .custom-modal .modal-footer .btn:hover {
  box-shadow: none;
  border: none;
}

.custom-modal .close {
  text-align: right;
  opacity: 1;
  outline: none;
}

.custom-modal .close span {
  color: #dbb20e;
  font-family: "Raleway";
  font-size: 50px;
  font-weight: 300;
  outline: none;
}

.custom-modal .close span:focus {
  outline: none;
}

.privacy-modal .modal-content {
  padding-top: 70px;
  border-radius: 0;
}

@media screen and (max-width: 480px) {
  .privacy-modal .modal-content {
    padding: 70px 10px 10px;
  }
}

.privacy-modal .modal-content .close {
  position: fixed;
  right: 20px;
  top: -5px;
}

.privacy-modal .modal-header {
  display: block;
  position: fixed;
  width: 100%;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
}

.privacy-modal .modal-header .modal-title {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .privacy-modal .modal-header .modal-title {
    font-size: 16px;
  }
}

.privacy-modal .modal-header {
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .privacy-modal .modal-dialog {
    max-width: 700px;
  }
}

.main-body-wrapper {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-transition: all 250ms ease-out 0s;
  transition: all 250ms ease-out 0s;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matriX(1, 0, 0, 1, 0, 0);
  overflow: hidden;
}

.main-body-wrapper.main-wrapper-push {
  -webkit-transform: matrix(1, 0, 0, 1, -320, 0);
  transform: matriX(1, 0, 0, 1, -320, 0);
  -webkit-transform: translate3d(-240px, 0px, 0px);
  -webkit-transition: all 250ms ease-out 0s;
  transition: all 250ms ease-out 0s;
}

#privacy-modal .modal-dialog,
#privacy-modal .modal-content {
  flex: 0 0 100%;
  max-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#privacy-modal .modal-body {
  flex: 0 0 100%;
  max-height: 100%;
}

.modal-open .modal {
  overflow: hidden !important;
}

.custom-modal .close {
  position: relative;
  z-index: 1000;
}

.carousel-item {
  height: 600px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .carousel-item {
    height: 300px;
  }
}

.simple-slider-overview:after {
  display: none;
}

@media (max-width: 480px) {
  .privacy-modal {
    max-height: 95%;
    height: 95%;
  }
}

.custom-popup {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
}

.custom-popup > p {
  text-align: right;
  margin-bottom: 10px;
}

.custom-popup .modal-title {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  font-family: "Raleway";
  color: #292929;
  margin-bottom: 20px;
}

.custom-popup .privacy-popup-content {
  max-height: 300px;
  margin-bottom: 20px;
}

.custom-popup .popup-modal-dismiss {
  color: #dbb20e;
  font-size: 20px;
  font-weight: 700;
}

.custom-popup .popup-modal-dismiss:hover {
  color: #dbb20e;
}

.big-img img {
  width: 100%;
  max-width: 100%;
  display: block;
  height: auto;
}

.small-img {
  display: flex;
  flex-direction: row;
  width: calc(100% - 10px);
  justify-content: space-between;
  margin-left: -5px;
  margin-right: -5px;
  height: auto;
}

.small-img img {
  margin-left: 5px;
  margin-right: 5px;
  width: 50%;
  flex: 0 0 50%;
  height: 50%;
}

.small-img.right-img-block {
  margin-top: 10px;
}

.small-img.left-img-block {
  margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .appartment-wrapper {
    width: 860px;
    height: 434px;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .appartment-wrapper img {
    max-width: 100%;
    height: auto;
  }
  .appartment-wrapper .big-img {
    flex: 0 0 637px;
  }
  .appartment-wrapper .small-img {
    flex: 0 0 212px;
    margin-left: 10px;
    display: block;
    width: auto;
    margin: 0;
  }
  .appartment-wrapper .small-img img {
    width: 100%;
    margin: 0;
  }
  .appartment-wrapper .small-img.left-img-block {
    margin-right: 10px;
    margin-left: 0;
  }
  .appartment-wrapper .small-img.right-img-block {
    margin-left: 10px;
    margin-right: 0;
  }
  .appartment-wrapper .small-img img:first-child {
    margin-bottom: 10px;
  }
}

.hero-banner {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media screen and (max-width: 992px) {
  .hero-banner {
    min-height: 690px;
  }
}

@media screen and (max-width: 767px) {
  .hero-banner {
    min-height: 680px;
  }
}

@media screen and (max-width: 480px) {
  .hero-banner {
    min-height: 570px;
    transition: height 999999s;
  }
}

@media screen and (min-width: 992px) {
  .hero-banner {
    min-height: 720px;
  }
}

.hero-banner .hero-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
  height: 100%;
  width: 100%;
}

.hero-banner .banner-text-block {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 3;
  padding-top: 60px;
}

@media screen and (max-width: 768px) and (max-height: 768px) {
  .hero-banner .banner-text-block {
    position: static;
    transform: translate(0, 0);
    padding-top: 100px;
  }
}

@media screen and (max-width: 360px) {
  .hero-banner .banner-text-block {
    padding-top: 80px;
  }
}

.hero-banner .banner-text-block .main-text {
  text-align: center;
  margin-bottom: 25px;
}

@media screen and (max-width: 360px) {
  .hero-banner .banner-text-block .main-text .italic-header {
    margin-bottom: 15px;
  }
}

.hero-banner .banner-text-block .main-text h1 {
  font-size: 60px;
  font-family: "Raleway";
  font-weight: 700;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .hero-banner .banner-text-block .main-text h1 {
    font-size: 45px;
  }
}

@media screen and (max-width: 767px) {
  .hero-banner .banner-text-block .main-text h1 {
    font-size: 24px;
  }
}

.hero-banner .banner-text-block .main-text .main-subtitle {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.5;
  font-size: 24px;
  font-weight: 300;
}

@media screen and (max-width: 480px) {
  .hero-banner .banner-text-block .main-text .main-subtitle br {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .hero-banner .banner-text-block .main-text .main-subtitle {
    font-size: 20px;
  }
}

.hero-banner .banner-text-block .sub-message-price {
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .hero-banner .banner-text-block .sub-message-price {
    margin-bottom: 20px;
  }
}

.hero-banner .banner-text-block .sub-message-price ul {
  list-style-type: none;
  padding: 0;
}

.hero-banner .banner-text-block .sub-message-price ul li {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
}

.hero-banner .banner-text-block .sub-message-price ul .count-beds, .hero-banner .banner-text-block .sub-message-price ul .price {
  color: #fff;
  font-weight: 700;
}

.hero-banner .banner-text-block .banner-buttons-wrapper {
  text-align: center;
}

.hero-banner .banner-text-block .banner-buttons-wrapper .banner-button {
  display: inline-block;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 500;
  color: #000;
  padding: 15px;
  min-width: 175px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;
}

.hero-banner .banner-text-block .banner-buttons-wrapper .banner-button:hover {
  text-decoration: none;
}

.hero-banner .banner-text-block .banner-buttons-wrapper .phone-link {
  display: block;
  color: #fff;
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 600;
}

.hero-banner .banner-scroll-button {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
}

@media screen and (max-width: 768px) and (max-height: 480px) {
  .hero-banner .banner-scroll-button {
    position: static;
    transform: translate(0, 0);
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
}

@media screen and (max-width: 360px) {
  .hero-banner .banner-scroll-button {
    bottom: 10px;
  }
}

.hero-banner .banner-scroll-button a {
  position: relative;
  display: block;
  width: 16px;
  height: 24px;
}

@media screen and (orientation: landscape) {
  .hero-banner .banner-scroll-button a {
    margin-bottom: 15px;
  }
}

.hero-banner .banner-scroll-button a .cls-1 {
  fill: #fff;
}

/* Footer style */
footer {
  padding: 30px 0 20px;
}

@media screen and (max-width: 992px) {
  footer .row > div:first-child {
    order: 2;
  }
}

.footer-menu ul {
  list-style-type: none;
}

@media screen and (max-width: 992px) {
  .footer-menu ul {
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.footer-menu ul li {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
}

.footer-menu ul li:not(:last-child) {
  margin-right: 30px;
}

.footer-menu ul li a {
  color: #292929;
  text-decoration: underline;
}

.footer-team-logo ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .footer-team-logo ul {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .footer-team-logo ul {
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
    align-items: flex-end;
  }
  .footer-team-logo ul li {
    flex: 0 0 50%;
    padding: 0 15px;
    margin: 10px 0 !important;
  }
}

.footer-team-logo ul li:first-child a svg {
  height: 50px;
  width: 120px;
}

.footer-team-logo ul li:not(:last-child) {
  margin-right: 50px;
}

.footer-team-logo ul a {
  display: block;
}

.footer-team-logo ul a svg {
  height: 50px;
}

#mCSB_1_scrollbar_vertical {
  opacity: 1;
}

#mCSB_1_scrollbar_vertical #mCSB_1_dragger_vertical {
  min-height: auto !important;
  height: 15px !important;
}

#mCSB_1_scrollbar_vertical #mCSB_1_dragger_vertical .mCSB_draggerRail {
  background-color: #CCC;
}

#mCSB_1_scrollbar_vertical #mCSB_1_dragger_vertical .mCSB_dragger_bar {
  height: 15px;
  width: 15px;
  background-color: #dbb20e;
}

/*# sourceMappingURL=style.css.map */
