/**
 *  Body
 */

body {
  font-family: $font-primary, sans-serif !important;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  &.modal-open {
    position: relative;
  }
}


a {
  &:hover,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

p {
  font-size: 16px;
  font-family: $font-primary, sans-serif;
  font-weight: 300;
  color: $simple-text;
  margin-bottom: 20px;

  @media screen and (max-width: 992px) {
    font-size: 14px;
  }
}